{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
    <link rel="stylesheet" href="{% static 'css/task.css'%}">
</head>
<body>
    <h1>Hello</h1>
    <p id="profile">
        Hello everyone, I'm <b>Ernazar</b> and surname is <b>Jumaniyazov</b>. I'm from Uzbekistan,Karakalpakstan.
        I love programming languages as Python, JavaScript, Html and Css. I am born in 16.08.2010. I study at school number 1
        in Nukus. I love my parents, my friends and my teachers. I learning now prog.language Python. I want to be a programmer,
        and this is my main goal. I think my parents are the best in the world. My father is a accountant and my mother is a teacher.My brother is in 8th grade student.
        We are four in a family.
        
        
        <h1> 
            <p id="link">I'm in telegram:</p>
            <a href="https://t.me/xafiyza0242">link</a>
        
        </h1>
   </p>
</body>
</html>